** {
    list-style: none;
    box-sizing: border-box;
}




body {
    position: relative;
    height: 200vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./Img/fondo.jpg);
    animation: gradient 15s ease infinite;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    background-size: cover;
    font-size: 16px;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


nav {
    padding: 0.625em;
}

.letra1 {
    float: right;
    position: relative;
    margin-left: 2.25em;
    color: rgb(197, 118, 197);
    font-family: xd;
}

@font-face {
    font-family: xd;
    src: url(./fuentes/reproduction-Medium.ttf);
}


.letra1:hover {
    background-color: #8d599b;
    border-radius: 15px;
    color: #f0f0f0;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.letra1:active {
    color: rgb(252, 209, 248);
    border-radius: 15px;
    background-color: rgb(199, 85, 189);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    position: relative;
    margin: 0 0.625em;
    padding: 0.625em 1.25em;
    text-decoration: none;
}


@font-face {
    font-family: xd;
    src: url(./fuentes/reproduction-Medium.ttf);
}



.fondo2 {
    position: relative;
    margin-left: 19.81em;
    height: 30.875em;
    top: -3.125em;
    width: 550px;

}

.letra1:hover {
    background-color: #8d599b;
    border-radius: 15px;
    color: #f0f0f0;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.letra1:active {
    color: rgb(252, 209, 248);
    border-radius: 15px;
    background-color: rgb(199, 85, 189);
}



/* Contenido principal */

main {
    position: relative;
    margin: 1.25em;
    border-radius: 3.125rem;
    top: 1.825em;
    height: 35.25em;
}


.app-info {
    background-color: #ffffff;
    padding: 1.25em;
    border-radius: 3.125rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}


@media (max-width: 36rem) {
    body {
        font-size: 0.875rem;
        background-size: 100% 100%;
        background-attachment: fixed;
    }


    main {
        position: relative;
        height: 500px;
        top: 150px;
        width: 545px;
    }


}

.nosotros {
    display: flex;
    flex-direction: row;
}

.nosotros .card * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: xd;


}

.nosotros .carta body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.nosotros .card {
    position: relative;
    margin: 1.875rem;
    width: 18.75rem;
    height: 21.875rem;
    top: 9.375rem;
    left: 18.75rem;
}

.nosotros .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.625rem;
    overflow: hidden;
    transition: .5s;

}

.nosotros .card .front {
    transform: perspective(37.5rem) rotateY(0deg);
    box-shadow: 0 0.3125rem 0.625rem rgb(0, 0, 0);
}

.nosotros .card .front img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.nosotros .card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.125rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(#8d599b, #9f21a6);
    text-align: center;
    font-family: xd;
}


.nosotros .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: linear-gradient(#c81ed1, #c476da, #dd82f6);
    padding: 0.9375rem;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0.3125rem 0.625rem #000000;
    font-family: xd;

}

.nosotros .card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 3.125rem;
    line-height: 3.125rem;
    font-family: xd;
}

.nosotros .card .back .link a {
    color: #f3f3f3;
}

.nosotros .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.nosotros .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.primero {
    position: relative;
    top: -0.625rem;
    left: -11.25rem;
}

.segund0 {
    position: relative;
    top: -26.25rem;
    left: 28.125rem;
}

.tercero {
    position: relative;
    top: -23.125rem;
    left: -11.25rem;
}

.cuarto {
    position: relative;
    top: -48.75rem;
    left: 28.125rem;
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    main {
        position: relative;
        height: 500px;
        top: 150px;
        width: 545px;
    }

    .fondo2 {
        position: relative;
        width: 270px;
        height: 280px;
        left: -155px;
        top: -80px;
    }

    .app-info p {
        position: relative;
        font-size: 10px;
        left: -110px;
        top: -30px;
    }

    .letra1 {
        font-size: 15px;
    }


    .primero {
        position: relative;
        top: -110px;
        left: -200px;
    }

    .segund0 {
        position: relative;
        top: -110px;
        left: -200px;
    }

    .tercero {
        position: relative;
        top: -110px;
        left: -200px;
    }

    .cuarto {
        position: relative;
        top: -110px;
        left: -200px;
    }

    .nosotros .card {
        position: relative;
        margin: 1.875rem;
        width: 250px;
        height: 300px;
        top: 9.375rem;
        left: 18.75rem;
    }

}