* {
    list-style: none;
    box-sizing: border-box;
}




body {
    position: relative;
    height: 104vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./Img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    font-size: 16px;

}


h1 {
    margin: 0;
}

/* Navegación */

nav {
    padding: 0.625em;
}

.letra1 {
    float: right;
    position: relative;
    margin-left: 1.25em;
    color: rgb(197, 118, 197);
    font-family: xd;
}

@font-face {
    font-family: xd;
    src: url(./fuentes/reproduction-Medium.ttf);
}


.titulo {
    font-family: xd;
    font-size: 2.8125rem;
    position: relative;
    margin-left: 30.625rem;
    top: -0.625rem;
}

.fondo2 {
    position: relative;
    margin-left: 19.81em;
    height: 30.875em;
    top: -3.125em;
    width: 550px;

}

.letra1:hover {
    background-color: #8d599b;
    border-radius: 15px;
    color: #f0f0f0;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.letra1:active {
    color: rgb(252, 209, 248);
    border-radius: 15px;
    background-color: rgb(199, 85, 189);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    position: relative;
    margin: 0 0.625em;
    padding: 0.625em 1.25em;
    text-decoration: none;
}

/* Contenido principal */

main {
    position: relative;
    margin: 1.25em;
    border-radius: 50px;
    top: 1.825em;
    height: 35.25em;
}


.app-info {
    background-color: #fff;
    padding: 1.25em;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.app-info h3 {
    color: rgb(197, 118, 197);
}

.app-info p {
    position: relative;
    color: rgb(197, 118, 197);
    font-family: xd;
    margin-left: 23.4375em;
    font-size: 1em;
    top: -2.5em;

}

.logo{
    position: relative;
    top: -500px;
    right: 750px;
    height: 150px;

}

@media (max-width: 576px) {
    body {
        font-size: 14px;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    main{
        position: relative;
        height: 500px;
        top: 150px;
        width: 545px;
    }

    .fondo2 {
        position: relative;
        width: 270px;
        height: 280px;
        left: -155px;
        top: -80px;
    }

    .app-info p {
        position: relative;
        font-size: 10px;
        left: -110px;
        top: -30px;
    }

    .titulo {
        position: relative;
        right: 310px;
        font-size: 30px;
        top: -25px;

    }

    .letra1{
        font-size: 15px;
    }
}